<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Post Writing Page</title>
<style>
</style>
</head>
<body>
	<div class="container">
		<form action="board.html" method="post">
			<table>
				<tr>
					<td><h2>글쓰기</h2></td>
				</tr>
				<tr>
					<td class="header">Title</td>
				</tr>
				<tr>
					<td><input type="text" placeholder="제목을 입력하세요" name="title"></td>
				</tr>
				<tr>
					<td class="header">Comment</td>
				</tr>
				<tr>
					<td><textarea placeholder="내용을 입력하세요" name="detail"></textarea></td>
				</tr>
				<tr>
					<td><input type="submit" value="등록" onclick="alert('작성 완료!')"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>